@import "tailwindcss";

h1, p, .modos *, .form *, .teams *, .black-text {
  color: #333;
}

.form button, .teams button {
  color: #f9f9fb;
}

nav {
  background-color: #333;
  color: #f9f9fb;
}

.flash-message {
  position: fixed;
  top: 20px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f9f9fb;
  background-color: #28a745;
  opacity: 1;
  transform: translateX(-50%);
  transition: opacity 1s ease-out;
}

.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f9f9fb;
  background-color: #a72828;
  opacity: 1;
  transform: translateX(-50%);
  transition: opacity 1s ease-out;
}

/* Remove number input arrows (Chrome, Edge, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 600px) {
  .main-container > div {
    overflow: auto;
  }

  .form input {
    width: 80%;
    font-size: 14px;
  }

  .form div button {
    min-width: 10%;
  }

  .help-message {
    position: absolute;
    left: 15%;
  }

  .teams {
    min-height: auto;
    scroll-behavior: smooth;
  }
}
