@import "tailwindcss";

h1, p, .modos *, .forms *, .teams * {
  color: #333;
}

.forms button, .teams button {
  color: #f9f9fb;
}

nav {
  background-color: #333;
  color: #f9f9fb;
}

.copy-message {
  position: fixed;
  top: 20px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f9f9fb;
  background-color: #28a745;
  opacity: 1;
  transform: translateX(-50%);
  transition: opacity 1s ease-out;
}

@media (max-width: 500px) {
  .main-container > div {
    overflow: auto;
  }

  .form input {
    width: 80%;
    font-size: 14px;
  }

  .form div button {
    min-width: 10%;
  }

  .teams {
    min-height: auto;
  }
}

/*
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9fb;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: inherit;
}

/* Left Section (Inputs) *//*
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  flex-grow: 1;
  width: 50%;
  max-height: 100%;
  padding: 9px 20px;
  overflow-y: scroll;
  background-color: #f9f9fb;
}

.inputs h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #003f7f;
}

label {
  min-width: 5%;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.player-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2px 0;
}

input[type="text"], input[type="number"] {
  font-size: 16px;
  border: 2px solid #bbb;
  border-radius: 4px;
  width: 40%;
  padding: 10px;
  margin-left: 2px;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #004080;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.action-button {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  color: #f9f9fb;
  background-color: #004080;
}

.action-button:hover {
  background-color: #002d5a;
}

.action-button:first-of-type {
  background-color: #002d5a;
}

.action-button:first-of-type:hover {
  background-color: #001a33;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9%;
  min-width: 7%;
}

.delete-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Right Section (Equipos) *//*
.teams-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  background-color: #d0e7ff;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: inherit;
}

.team-container {
  text-align: center;
  padding: 20px;
  margin: 0 15px;
  width: 40%;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9fb;
}

.team-container h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0;
  color: #003f7f;
}

.team-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.team-container li {
  flex-grow: 1;
  font-size: 16px;
  padding: 5px 0;
  margin: 0;
  color: #555;
}

.copy-button {
  align-self: center;
  margin-top: 20px;
}

.copy-message {
  position: fixed;
  top: 20px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f9f9fb;
  background-color: #28a745;
  opacity: 1;
  transform: translateX(-50%);
  transition: opacity 1s ease-out;
}

.copy-message.fade {
  opacity: 0;
}

@media (max-width: 850px) {
  .inputs, .teams-details {
    width: 100%;
  }

  .player-input {
    width: 50%;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .inputs {
    min-height: 50%;
    padding: 20px;
  }

  .player-input {
    width: 80%;
  }

  .teams-details {
    min-height: 50%;
  }

  .team-container {
    width: 45%;
  }
}
*/