body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.home-page h1 {
  width: 50%;
  align-self: center;
  font-size: 100px;
  text-wrap: wrap;
  white-space: normal;
  display: table-caption;
  color: #333;
  margin: 0;
}

.home-page h1 span {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  background-color: #333;
  padding: 20px;
}

nav h3 {
  color: #f9f9fb;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
  background-color: #0056b3;
  color: #f9f9fb;
}

@media (max-width: 800px) {
  .home-page {
    flex-direction: column;
    height: 100vh;
  }

  .home-page h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    font-size: 50px;
  }

  nav {
    height: 50%;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
  }
}
