body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9fb;
}

.home-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.home-page h1 {
  align-self: center;
  width: 50%;
  font-size: 100px;
  text-align: center;
  white-space: normal;
  margin: 0;
  color: #333;
}

.home-page h1 span {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 20px;
  background-color: #333;
}

nav h3 {
  font-size: 25px;
  color: #f9f9fb;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  color: #f9f9fb;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
  color: #f9f9fb;
  background-color: #0056b3;
}

@media (max-width: 800px) {
  .home-page {
    flex-direction: column;
    height: 100vh;
  }

  .home-page h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    width: 100%;
    height: 50%;
  }

  nav {
    height: 50%;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
  }
}
