body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.main-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: inherit;
}

/* Left Section (inputs) */
div.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  background-color: #ffffff;
}

/* Right Section (Equipos) */
div.equipos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 50%;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 40%;
  font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #66afe9;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}

button:hover {
  background-color: #45a049;
}

button:first-of-type {
  background-color: #007bff;
}

button:first-of-type:hover {
  background-color: #0056b3;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
