body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.main-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: inherit;
}

/* Left Section (inputs) */
div.inputs {
  display: flex;
  align-items: center;
  justify-content: center/*flex-start*/;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  background-color: #ffffff;
  max-height: 100%;
  overflow-y: scroll;
}

label {
  min-width: 5%;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.player-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2px 0;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 40%;
  font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #66afe9;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}

button:hover {
  background-color: #0056b3;
}

button:first-of-type {
  background-color: #0056b3;
}

button:first-of-type:hover {
  background-color: #003f7f;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff;
}

/* Right Section (Equipos) */
div.teams-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e8f4fc;
  border-radius: 8px;
  width: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

div.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.team-container {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 0 5px;
}

.team-container h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0056b3;
}

.team-container ul {
  list-style: none;
  padding: 0;
}

.team-container li {
  padding: 5px 0;
  font-size: 16px;
  color: #555;
}

.copy-button {
  margin-top: 20px;
  align-self: center;
}
